chromadb==0.5.3
colorama==0.4.6
gymnasium==0.29.1
langchain==0.3.19
langchain_community==0.3.18
langchain_openai==0.3.7
matplotlib==3.10.1
mujoco==3.1.4
numpy==1.26.4
openai==1.65.2
opencv_contrib_python==4.9.0.80
opencv_python==4.9.0.80
ruckig==0.14.0
sentence-transformers==2.7.0
setuptools==70.0.0
tqdm==4.66.4
transformers==4.48.0